.form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;

  }
  
  .content-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    max-width: 450px;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 120px;
    
  }
  
  .form-title {
    font-size: 28px;
    margin-bottom: 30px;
    color: #444;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    color: #2e7d32;
    font-size: 14px;
    margin-bottom: 8px;
    font-family: "Roboto Slab", serif;
  }
  
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
  }
  
  .submit-button {
    background-color: #1a4971;
    color: white;
    width: auto;
    padding: 12px 24px;
  }
  
  .submit-button:disabled {
    background-color: #95a5a6;
    cursor: not-allowed;
  }
  
  .error-message {
    color: #e74c3c;
    margin-top: 10px;
    font-size: 14px;
  }
  /* Trying to allign the coloum of the thank you message to center */
  .thank-you-column {
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .thank-you-content {
    text-align: center;
  }
  
  .thank-you-title {
    font-size: 32px;
    color: #444;
    font-weight: normal;
  }
  
  .thank-you-message {
    font-size: 24px;
    color: #666;
  }